.container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  margin: 5px 10px;
  border: 1px solid rgb(149, 149, 149);
  border-radius: 10px;
  padding-left: 10px;
  box-shadow: 0px 0px 0px 0px grey;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inputs:hover,
.inputs:focus,
.inputs:focus-visible {
  outline: 1px solid transparent;
  border: 1px solid transparent;
  box-shadow: 0px 1px 5px 3px grey;
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
