.btn {
  margin: 2px 2px;
  border-radius: 10px;
  border: 1px solid rgb(149, 149, 149);

  background-color: orange;
  opacity: 0.7;
  color: black;
  outline: 2px solid transparent;
  box-shadow: 0px 0px 5px 1px grey;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  border: 1px solid rgb(109, 3, 3);
  opacity: 1;
  color: rgb(27, 1, 1);
  outline: 2px solid rgb(200, 4, 4);
  box-shadow: 0px 1px 5px 3px grey;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
