.nav__link {
  position: relative;
  margin-left: 10px;
  color: black;
  text-decoration: none;
}
.nav__link:active {
  color: orange;
}

.header {
  display: flex;
  align-items: center;

  height: 41px;
  box-shadow: 0px 2px 7px 0px grey;

  margin-bottom: 10px;
}
