.container {
  width: 333px;
  display: flex;
  flex-direction: column;
}

.inputs {
  width: 300px;
  margin-left: 23px;
  border: 1px solid transparent;
  border-radius: 10px;
}
.inputs:focus-visible {
  outline: 1px solid transparent;
}

.margin {
  border: 1px solid rgb(149, 149, 149);
  border-radius: 10px;
  margin: 5px 0;

  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.margin:hover,
.margin:focus {
  color: orange;
  border: 1px solid transparent;
  box-shadow: 0px 1px 5px 3px grey;
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label {
  text-align: center;
}
