.position {
  /* position: absolute;
  left: 90%; */
  /* margin-left: 52px; */
  position: absolute;
  right: 0;
}

.btn_style {
  background-color: transparent;
  border: 1px solid transparent;
}
.btn_style:hover,
.btn_style:focus {
  color: orange;
}
